<html>
    <head>
        <title>Backup List</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <table>
            <tr>
                <th>Last backup date</th>
                <th>Path</th>
            </tr>
            {% for entry in entries %}
            <tr>
                <td>{{ entry[0] }}</td>
                <td>
                    <form action="fetch" method="post">
                        Path: <input type="text" name="fetchpath" value="{{ entry[1] }}" size="150"><br>
                        Passphrase: <input type="password" name="passphrase"><br>
                        <input type="hidden" name="path" value="{{ path }}">
                        <input type="submit" value="Fetch">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
