<html>
    <head>
        <title>Backup List</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <table>
            <tr>
                <th>Last backup date</th>
                <th>Path</th>
            </tr>
            {% for entry in entries %}
            <tr>
                <td>{{ entry[0] }}</td>
                <td>{{ entry[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
